<div class="row">
    <div class="col-3">
            <img src="assets/img/logo.png" alt="">   
            <!-- <aside class="nav-expanded nav-lock nav-collapsible"> -->
                <nav class="navbar navbar-light" style="background-color: #e3f2fd;">                  
                               
                    <ul class="list-group list-group-flush fluid">
                        <!-- <li class="list-group-item list-group-item-secondary"> -->
                            <!-- <div class="col"> -->
                                <a  (click)="switchContainer('1')" >
                                        <i class="material-icons m-3">accessibility</i>
                                        <span class="nav-text">PERFIL</span>
                                </a>
                            <!-- </div> -->
                        <!-- </li> -->
                        <!-- <li class="list-group-item"> -->
                            <a  (click)="switchContainer('2')">
                                <i class="material-icons m-3">domain</i>
                                <span class="nav-text">NEGOCIOS</span>
                            </a>
                        <!-- </li> -->
                        <!-- <li class="list-group-item"> -->
                                <a  (click)="switchContainer('3')">
                                    <i class="material-icons m-3">settings_input_component</i>
                                    <span class="nav-text">PERSONAS</span>
                                </a>
                        <!-- </li> -->
                        <!-- <li class="list-group-item"> -->
                                <a   (click)="switchContainer('4')">
                                    <i class="material-icons m-3">control_camera</i>
                                    <span class="nav-text">OFERTAS</span>
                                </a>
                        <!-- </li> -->
                        <!-- <li class="list-group-item"> -->
                                <a   (click)="switchContainer('4')">
                                        <button class="btn btn-danger" (click)="signOut()"><i class="fab fa-close" >CERRAR SESION</i> </button>
                                </a>
                        <!-- </li> -->
                    </ul>

                    
                             
                        
                      </nav>
            <!-- </aside> -->
            
    </div>
    <div class="col-9">
            <section>
                    <div [ngSwitch]="currentContainer">
                    <div class="jumbotron jumbotron-fluid" *ngFor="let i of respuesta">
                       <p class="text-info text-center"> BIENVENIDO   <strong>{{i.nombre}}</strong></p>
                    </div>

                    <app-personas *ngSwitchCase="'listaPersonas'" ></app-personas>
                <!-- <app-personas *ngSwitchCase="'listaNegocios'"></app-personas> -->
                    <app-negocios *ngSwitchCase="'listaNegocios'" ></app-negocios>
                    <app-ofertas *ngSwitchCase="'listaOfertas'"></app-ofertas>
                     <!-- <app-perfil *ngSwitchCase="'perfil'"></app-perfil>
                    <app-registra-negocios *ngSwitchCase="'registronegocio'"></app-registra-negocios> -->
                    <!-- <app-listar-negocios *ngSwitchCase="'listarnegocio'"></app-listar-negocios>
                    <app-informacion *ngSwitchCase="'informacion'"></app-informacion>  -->
                    
                    </div>
                    
            </section>
    </div>
</div>