<div class="row botones">
    <button (click)="cambiodemapa()"> <i class="fas fa-globe-americas"></i></button>
    <button (click)="cambiodelista()"> <i class="fas fa-list-ol"></i></button>
</div>
<br>


<!-- <div class="row mapa" *ngIf="flagmapa as true"> -->
    <agm-map *ngIf="flagmapa as true" [latitude]="lat" [longitude]="lng" [zoom]="13">

        <agm-marker *ngFor="let nego of respuesta" [latitude]="+nego.latitud" [longitude]="+nego.longitud">
        
            
            <agm-info-window>
                <strong>{{nego.detalle}} en {{nego.producto}}</strong>
            </agm-info-window>
        
        </agm-marker>
    
    </agm-map> 
    <!-- <p *ngFor="let nego of respuesta" > {{nego.detalle}} </p> -->
<!-- </div> -->

<div class="row tabla" *ngIf="flaglista as true">
    <table class="table col-sm-12 table-striped">
        <thead>
            <tr>
              <th scope="col-sm-2">foto</th>
              <th scope="col-sm-1">detalle</th>
              <th scope="col-sm-1">producto</th>
              <th scope="col-sm-1">valor</th>
              <th scope="col-sm-1">descuento</th>
              <th scope="col-sm-1">fechainicio</th>
              <th scope="col-sm-1">fechafinal</th>
              <th scope="col-sm-1"></th>
            </tr>
            
          </thead>
          <tbody>
            <tr *ngFor="let i of respuesta">
                <td>
                    <img class="img-fluid" width="100px" height="100px" [src]="i.foto">            
                </td> 
                <td>{{i.detalle}}</td>
                <td>{{i.producto}}</td> 
                <td>{{i.valor}}</td> 
                <td>{{i.descuento}}</td> 
                <td>{{i.fechainicio}}</td> 
                <td>{{i.fechafinal}}</td> 
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteoferta(i.id)" ><i class="far fa-trash-alt"></i></button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="actualizaroferta(i.id)"> <i class="fas fa-marker"></i> </button>
              </td>
            </tr>
          </tbody>
    </table> 
</div>

<!-- getListarNegociosAdmin(): any {
    this.listarService.getNegociosAdmin(this.auth.getIdAdmin()).subscribe((data) => {
    data.forEach((item) => {
    this.listarService.getOfertasPorIdNegocio(item.idnegocio).subscribe((data2) => {
    item.oferta = data2;
    this.negocios.push(item);
    });
    });
    });
    }   -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="exampleModalLabel">ACTUALIZAR OFERTAS</h1>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div *ngFor="let i of persona">
                        
                        <!-- <div class="row ">
                          <div *ngIf="mensajeError" class="alert alert-danger" role="alert">
                            {{mensajeError}}
                          </div>
                        </div> -->
                        <div class="row">
                          <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4">
                            <img class="img-fluid" src="assets/img/logo.png" alt=""> 
                          </div>
                          <div class="col-md-8 col-lg-8 col-xl-8 col-sm-8">
                            <div class="row">
                              <div class="form-group col-md-8 col-lg-8 col-xl-8 col-sm-8">
                                
                                <i class="fas fa-info m-2"></i>
                                <label for="nombre">DETALLE</label>
                                <input type="text" class="form-control" id="detalle" placeholder="DETALLE DE LA OFERTA"  [(ngModel)] = "i.detalle">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-4 col-lg-4 col-xl-4 col-sm-4">
                                
                                <i class="fab fa-product-hunt m-2"></i>
                                <label for="producto">PRODUCTO</label>
                                <input type="text" class="form-control" id="producto" placeholder="PRODUCTO EN OFERTA"  [(ngModel)] = "i.producto">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-8 col-lg-8 col-xl-8 col-sm-8">
                                <i class="fas fa-image m-2"></i>
                                <label for="foto" >foto</label>
                                <input type="file" (change)="onItemSelected($event)" class="form-control" id="foto" >
                               
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-4 col-lg-4 col-xl-4 col-sm-4">
                                <i class="fas fa-dollar-sign m-2"></i>
                                <label for="valor">valor</label>
                                <input type="text" class="form-control" id="valor" placeholder="VALOR A PAGAR"  [(ngModel)] = "i.valor">
                              </div>
                              <div class="form-group col-md-4 col-lg-4 col-xl-4 col-sm-4">
                                
                                <i class="fas fa-piggy-bank m-2"></i>
                                <label for="descuento">descuento</label>
                                <input type="text" class="form-control" id="descuento" placeholder="AHORRO OFERTA"  [(ngModel)] = "i.descuento">
                              </div>
                              
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8 col-lg-8 col-xl-8 col-sm-8">
                                  
                                  <i class="fab fa-accessible-icon m-2"></i>
                                  <label for="fechainicio">FECHA-INICIO</label>
                                  <input type="date" class="form-control" id="fechainicio" placeholder="CUANDO INICIA LA OFERTA"  [(ngModel)] = "i.fechainicio">
                                </div>
                            </div>  
                            <div class="row">
                                <div class="form-group col-md-8 col-lg-8 col-xl-8 col-sm-8">
                                  
                                  <i class="fas fa-stopwatch m-2"></i>
                                  <label for="fechafinal">FECHA-FINAL</label>
                                  <input type="date" class="form-control" id="fechafinal" placeholder="HASTA CUANDO ES LA OFERTA"  [(ngModel)] = "i.fechafinal">
                                </div>
                            </div>
                            
                          </div> 
                      </div>   
                  </div> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">SALIR</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirmarActualizar()">ACTUALIZAR OFERTA</button>  
                </div>
              </div>
            </div>
          </div>